        body {
            background-image: url('/css/black.png');
            background-repeat: no-repeat;
            background-size: cover;
            color: #939a9d;

        }
        .profile-picture {
            height: 350px;
            width: 350px;
            border-radius: 50%;
        }
        .user-info {
            font-size: 16px;
            color: white;

            padding: 10px;
        }
        .capitalize {
            text-transform: capitalize;
        }
        .post-image {
            height: 190px;
            width: 190px;
        }
        .post-header {
            background-color: #212529;
            color: white;
            padding: 10px;
            border-style: groove;
            border-radius: 20px;
        }
